@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body {

  font-family: "Prompt", sans-serif;
  font-size: 16px;
  background-color: #02052b7e;
  color: #eeececd9;
}
form{
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 560px;
    text-align: center;
    border: 5px solid #eeececd9;
}

input, label{
    margin-bottom: 5px;
    font-size: 16px;
}
input{
    border-radius: 3px;
}