/* body */
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
html {
  background-image: url("https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
body {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  color: #000000d9;
}

main,
footer {
  margin: 20px 10%;
}

/* first two intro divs */

.intro-part {
  display: block;
}

.first-part {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 200px;
  /* margin-bottom: 200px; */
  width: 100%;
  height: 500px;
  padding-top: 200px;
  background-color: white;
  /* border-radius: 5px; */
}
.other-part {
  width: 100%;
  height: 500px;
  padding-top: 300px;
  background-color: white;
  margin: 0 auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.hi {
  font-size: 6rem;
  text-align: center;
}
.introduction {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.contact-tell {
  text-align: center;
  margin-bottom: 40px;
}
/* navigation bar */

nav {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

nav h1 {
  font-size: 2rem;
  margin-left: 20px;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  color: #000000;
}

li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 1.2em;
}

#time {
  height: 20px;
  color: #008b8b;
}

/* top part */
.top-section {
  margin: 100px 0px;
}
/* photo of me */

.photos {
  margin-top: 350px;
}

.me-photo img {
  height: 530px;
  width: 405px;
  border-radius: 5px;
  float: right;
  margin-top: 250px;
  /* position: relative;
  bottom: 75px;
  left: 650px;
  z-index: 3; */
}

/* logo */
.all-logos {
  text-align: center;
  margin-top: 150px;
}
.logo {
  width: 100px;
}
/* favorite project section */
.fav-project {
  text-align: center;
  margin-top: 350px;
}
.fav-project img {
  border-radius: 20px;
  width: 600px;
}

/* about */
.about {
  text-align: center;
  margin-top: 100px;
}

.middle-section {
  margin: 500px 0px;
}
/* 
bottom */

.bottom {
  margin: 90px 0px;
  text-align: center;
  justify-content: space-evenly;
}

.social-logos {
  align-items: center;
}

.touch-logo {
  margin: 0px 20px;
  width: 80px;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

footer {
  text-align: center;
}

.back-top {
  background-color: white;
  border-radius: 5px;
  width: 50px;
  color: black;
}

.back-top {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.back-top:hover {
  background-color: aquamarine;
}

@media (max-width: 920px) {
  #time {
    display: none;
  }
  .hi {
    font-size: 5rem;
  }
  .introduction {
    font-size: 1.5rem;
  }
  .other-part {
    margin-bottom: 120px;
  }
  .me-photo img {
    height: 250px;
    width: 175px;
  }
  .all-logos {
    display: block;
    margin-right: 170px;
  }
  .logo {
    width: 60px;
  }
  .fav-project img {
    width: 400px;
  }
}

@media (max-width: 325px) {
  nav {
    display: block;
    border: none;
  }
  .other-part {
    height: 300px;
  }
  .introduction {
    font-size: 1.3rem;
  }
  .hi {
    font-size: 4rem;
  }
}
