/* body */
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
html{
  background-image: url("https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:repeat;
}
body {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  color: #000000d9;
}

main,
footer {
  margin: 20px 10%;
}

/* first two intro divs */

.intro-part {
  display: block;
}

.first-part {
  margin-top: 300px;
  margin-bottom: 300px;
  width: 100%;
  height: 500px;
  padding-top: 200px;
  background-color: white;
  border-radius: 5px;
}
.other-part {
  width: 100%;
  height: 500px;
  padding-top: 300px;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
}
.hi {
  font-size: 6rem;
  text-align: center;
}
.introduction {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.contact-tell {
  text-align: center;
  margin-bottom: 40px;
}
/* navigation bar */

nav {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 20px;

}

nav h1 {
  font-size: 2rem;
  margin-left: 20px;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  color: #000000;
}

li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 1.2em;
}

#time {
  height: 20px;
  color: #008b8b;
}

/* top part */
.top-section {
  margin: 100px 0px;
}
/* photo of me */

.photos {
  margin-top: 350px;
}

.me-photo img {
  height: 530px;
  width: 405px;
  border-radius: 5px;
  float: right;
  margin-top: 250px;
  /* position: relative;
  bottom: 75px;
  left: 650px;
  z-index: 3; */
}

/* logo */
.all-logos {
  text-align: center;
  margin-top: 150px;
}
.logo {
  width: 100px;
}
/* favorite project section */
.fav-project {
  text-align: center;
  margin-top: 150px;
}
.fav-project img {
  border-radius: 20px;
  width: 600px;
}

/* about */
.about {
  /* width: 450px; */
  margin-top: 140px;
  text-align: center;
}

.middle-section {
  
  justify-content: space-between;
  margin: 250px 0px;
}
/* 
bottom */

.bottom {
  margin: 90px 0px;
  text-align: center;
  justify-content: space-evenly;
}

.social-logos {
  align-items: center;
}

.touch-logo {
  margin: 0px 20px;
  width: 80px;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

footer {
  text-align: center;
}

.back-top{
  background-color: #008b8b;
  
  border-radius: 5px;
  color: white;
}


@media (max-width: 900px) {
  .me-photo img {
    height: 250px;
    width: 175px;
  }
  .logo {
    width: 50px;
  }
}
