/* body */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
  margin: 20px 10%;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  background-color: #02052b7e;
  color: #eeececd9;
}
.hi{
  font-size: 5rem;
}
.introduction {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.contact-tell {
  text-align: center;
  margin-bottom: 40px;
}
/* navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

nav h1 {
  font-size: 2rem;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 1.2em;
}

#time {
  height: 20px;
  color: #FFFFFF;
}
/* top part */
.top-section{
  margin-bottom: 80px;
}
/* photo of me */

.photos {
  display: flex;
  justify-content: space-between;
}

.me-photo img {
  height: 400px;
  width: 305px;
  border-radius: 5px;
}

/* logo */
.all-logos {
  text-align: center;
}
.logo{
  width: 100px;
}
/* favorite project section */
.fav-project {
  text-align: end;
}
.fav-project img {
  border-radius: 20px;
}

/* about */
.about {
  /* width: 450px; */
  text-align: center;
}

.middle-section {
  display: flex;
  justify-content: space-between;
}
/* 
bottom */

.bottom{
  margin-top: 90px;
  text-align: center;
}

/* .social-logos{
  margin-right: 80px;
} */

.touch-logo{
  /* margin-right: 20px; */
  width: 80px;
}
