/* body */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
  margin: 20px 10%;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  background-color: #02052b7e;
  color: #eeececd9;
}
.hi{
  font-size: 3rem;
}
.introduction {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.contact-tell {
  text-align: center;
  margin-bottom: 40px;
}
/* navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
}

nav h1 {
  font-size: 2rem;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  color: #000000;
}

li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 1.2em;
}

#time {
  height: 20px;
  color: black;
}
/* top part */
/* .top-section{
  display: flex;
} */
/* photo of me */

.photos {
  display: flex;
  justify-content: space-between;
}

.me-photo img {
  height: 400px;
  width: 305px;
  border-radius: 5px;
}

/* logo */
.all-logos {
  float: right;
  justify-content: flex-end;
  text-align: center;
}

/* favorite project section */
.fav-project {
  text-align: end;
  position: relative;
  top: 0;
}
.fav-project img {
  border-radius: 20px;
}

/* about */
.about {
  width: 450px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
}
