/* body */
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
body {
  margin: 20px 10%;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  background-color: #02052b7e;
  color: #eeececd9;
}
.hi {
  font-size: 5rem;
}
.introduction {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.contact-tell {
  text-align: center;
  margin-bottom: 40px;
}
/* navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 20px;

}

nav h1 {
  font-size: 2rem;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 1.2em;
}

#time {
  height: 20px;
  color: #ffffff;
}
/* top part */
.top-section {
  margin: 80px 0px;
  /* margin-bottom: 80px; */
}
/* photo of me */

.photos {
  display: flex;
  justify-content: space-between;
}

.me-photo img {
  height: 400px;
  width: 305px;
  border-radius: 5px;
}

/* logo */
.all-logos {
  text-align: center;
}
.logo {
  width: 100px;
}
/* favorite project section */
.fav-project {
  text-align: end;
}
.fav-project img {
  border-radius: 20px;
}

/* about */
.about {
  /* width: 450px; */
  text-align: center;
}

.middle-section {
  display: flex;
  justify-content: space-between;
}
/* 
bottom */

.bottom {
  margin: 90px 0px;
  text-align: center;
  justify-content: space-evenly;
 
}

.social-logos{
  align-items: center;
}

.touch-logo {
  margin: 0px 20px;
  width: 80px;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}


footer{
  text-align: center;
}
@media (max-width: 900px){
   .me-photo img{
   height: 250px;
   width: 175px;
   }
   .logo{
    width: 50px;
   }
}